@page "/countries"
@inject IRepository repository

<h3>Paises</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">Nuevo País</a>
</div>

<GenericList MyList="countries">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>País</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in countries!)
                {
                    <tr>
                        <td>@country.Name</td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    private List<Country>? countries;

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await repository.GetAsync<List<Country>>("/api/countries");
        if (httpResponse.Error)
        {
            //TODO: Pendign to show the error
            return;
        }
        countries = httpResponse.Response;
    }
}
